/* SilverWare Model Filters Admin Styles
===================================================================================================================== */

.cms {
  
  .grid-field__table {
    
    tbody {
      
      td {
        
        &.col-StatusBadges {
          
          span.badge {
            
            clear: both;
            display: inline-block;
            text-transform: uppercase;
            padding: $padding-y-badge $padding-x-badge;
            font-size: $font-size-badge;
            line-height: $line-height-badge;
            border-radius: $border-radius-badge;
            
            &.status-archived,
            &.status-removedfromdraft {
              color: $color-foreground-badge-archived;
              border: 1px solid $color-border-badge-archived;
              background-color: $color-background-badge-archived;
            }
            
            &.status-modified,
            &.status-addedtodraft {
              color: $color-foreground-badge-modified;
              border: 1px solid $color-border-badge-modified;
              background-color: $color-background-badge-modified;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
}
