/* SilverWare Model Filters Admin Variables
===================================================================================================================== */

// Badge Sizes:

$padding-x-badge: 3px !default;
$padding-y-badge: 0 !default;

$font-size-badge: 0.75em !default;
$line-height-badge: 1.2em !default;

$border-radius-badge: 0 !default;

// Badge Colors:

$color-border-badge-archived: #7f96a8 !default;
$color-border-badge-modified: #c9b800 !default;

$color-background-badge-archived: #f7f7f7 !default;
$color-background-badge-modified: #fff0bc !default;

$color-foreground-badge-archived: #556b7c !default;
$color-foreground-badge-modified: #7e7470 !default;
